---
import LayoutCommon from "../layouts/LayoutCommon.astro"
import ProductTable from "../components/vue/ProductTable.vue"
---

<LayoutCommon>
	<div class="w-full mx-auto bg-white rounded-md shadow-md p-4" >
		Em breve...
		<!-- <ProductTable client:load/> -->
	</div>
</LayoutCommon>
