---
import LayoutCommon from "../layouts/LayoutCommon.astro"
import Index from "../forms-pages/upsell/index.vue"
---

<LayoutCommon>
	<div class="w-full mx-auto bg-white rounded-md shadow-md p-4">
		<Index client:load/>
	</div>
</LayoutCommon>
